.footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    color: #ddd;
    padding: 5rem;
}

.image {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.link {
    color: white;
    text-decoration: none;
    margin: 1rem 0;
    border: 4px solid white;
    padding: 1rem 0;
    width: 10rem;
    text-align: center;
    border-radius: 20px;
}

.link:hover {
    color: #333;
    background-color: white;
    border-color: #4db6ac;
}