.navbar {
    width: 100%;
    background-color: #4db6ac;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.4rem 0;
}

.logo {
    height: 6rem;
    width: 6rem;
    margin-left: 80px;
    border-radius: 50%;
}

.links {
    margin-right: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link,
.link-toggle {
    margin: 0 10px;
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: black;
    border: 2px solid #4db6ac;
    padding: 10px;
}

.link:hover,
.link:active {
    border: 2px solid white;
    border-radius: 20px;
    background-color: #166e66;
    color: white;
}

@media only screen and (max-width: 992px) {
    .link-toggle {
        visibility: hidden;
    }
}

@media only screen and (max-width: 768px) {
    .link {
        font-size: 16px;
        margin-right: 40px;
    }
}